nav {
  height: 80px;

  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--border);

  background: --var(--navbar-bg);

  backdrop-filter: blur(10px);

  position: sticky;
  top: 0;

  z-index: 100;
}

.nav-container {
  width: min(90%, var(--max-width));

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: 800;
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-weight: 600;

  color: var(--text-light);
}

.nav-links a:hover {
  color: var(--text);
}

.nav-actions {
  display: flex;
  gap: 1rem;
}

.login-btn {
  background: transparent;
  border: none;
}

.get-started-btn {
  border: none;

  background: var(--primary);
  color: white;

  padding: 0.8rem 1.25rem;

  border-radius: var(--radius);

  font-weight: 600;
}

.profile-link {
  font-weight: 600;
  color: var(--text);

  display: flex;
  align-items: center;
}

.logout-btn {
  background: none;
  border: none;

  color: var(--text-light);

  font-weight: 600;
}

.logout-btn:hover {
  color: #dc2626;
}

.theme-toggle {
  background: none;
  border: none;

  font-size: 1.2rem;

  display: flex;
  align-items: center;

  padding: 0.4rem;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .login-btn {
    display: none;
  }
}

