nav {
  height: 80px;

  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--border);

  background: --var(--navbar-bg);

  backdrop-filter: blur(10px);

  position: sticky;
  top: 0;

  z-index: 100;
}

.nav-container {
  width: min(90%, var(--max-width));

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: 800;
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-weight: 600;

  color: var(--text-light);
}

.nav-links a:hover {
  color: var(--text);
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.login-btn,
.profile-link,
.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  padding: 0 1rem;

  border-radius: var(--radius);

  font-weight: 600;

  color: var(--text);

  transition: 0.2s ease;
}

.login-btn:hover,
.profile-link:hover,
.logout-btn:hover {
  background: rgba(0, 0, 0, 0.05);
}

.logout-btn {
  border: none;
  background: transparent;
}

.get-started-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  padding: 0 1.25rem;

  border-radius: var(--radius);

  background: var(--primary);

  color: white;

  font-weight: 600;

  transition: 0.2s ease;
}

.get-started-btn:hover {
  background: var(--primary-dark);
}

.logout-btn:hover {
  color: #dc2626;
}

.theme-toggle {
  background: none;
  border: none;

  font-size: 1.2rem;

  display: flex;
  align-items: center;

  padding: 0.4rem;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .login-btn {
    display: none;
  }
}

